*{
  margin: 5px;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #fff;
}

h1, h2, h3 {
  color: #f5f5f5;
}

/* Container da navbar */
.container {
  display: flex;
  flex-direction: column; /* Organiza os itens verticalmente */
  justify-content: center; /* Centraliza o conteúdo verticalmente */
  align-items: center; /* Centraliza os itens horizontalmente */
  height: 400px; /* Ocupa toda a altura da tela */
  background-color: #a09ea1; /* Cor de fundo da navbar */
}

/* Estilos da imagem da marca */
.navbar-brand .navbar-image {
  max-width: 400px; /* Limita o tamanho da imagem */
  margin-bottom: 20px; /* Espaçamento abaixo da imagem */
}

/* Estilos da lista de links */
.navbar-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Estilo para os itens da lista */
.navbar-links li {
  margin: 0 20px; /* Espaçamento entre os itens */
}

.navbar-links a {
  text-decoration: none;
  color: #000; /* Cor dos links */
  font-size: 18px; /* Tamanho da fonte */
  font-weight: bold; /* Deixa a fonte mais forte */
  transition: color 0.3s ease; /* Animação suave ao passar o mouse */
}

/* Efeito hover nos links */
.navbar-links a:hover {
  color: #007bff; /* Cor ao passar o mouse */
}
